


.todo-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid hsl(44, 87%, 53%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(20, 10, 28, 0.1);
  background-color: rgba(63, 172, 209, 0.816);
  
  
}

.todo-container h2 {
  margin-bottom: 20px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.list-group-item span {
  flex-grow: 1;
}

.modal-footer button {
  margin-left: 10px;
}
